<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantallalogin">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Notificaciones (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Calendario -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <!-- Almacenamiento (solo si targetSdk ≤ 28) -->
    <!--
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    -->
    <!-- Ubicación fina (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PantallaLogin">

        <!-- Actividades -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity android:name=".RecuperarActivity" />
        <activity android:name=".BienvenidaActivity" />
        <activity android:name=".OpcionesActivity" />
        <activity android:name=".PuntuacionActivity" />
        <activity android:name=".RuletaActivity" />
        <activity android:name=".HistorialActivity" />
        <activity
            android:name=".ui.ayuda.AyudaActivity"
            android:label="@string/ayuda_titulo"
            android:exported="true" />

        <!-- Servicio de música de fondo -->
        <service
            android:name=".service.MusicService"
            android:exported="false" />

    </application>
</manifest>
