<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantallalogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PantallaLogin">

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla de registro -->
        <activity android:name=".RegistroActivity" />

        <!-- Pantalla de recuperar contraseña -->
        <activity android:name=".RecuperarActivity" />

        <!-- Pantalla de bienvenida -->
        <activity android:name=".BienvenidaActivity" />

        <!-- Pantalla de opciones -->
        <activity android:name=".OpcionesActivity" />

        <!-- Pantalla de puntuación -->
        <activity android:name=".PuntuacionActivity" />

        <!-- Pantalla de la ruleta (¡añádela aquí!) -->
        <activity android:name=".RuletaActivity" />

    </application>
</manifest>
